[submodule "DeepLearningWithMXNetGluon"]
	path = DeepLearningWithMXNetGluon
	url = https://github.com/ThomasDelteil/DeepLearningWithMXNetGluon
[submodule "Seattle_Workshop"]
	path = Seattle_Workshop
	url = https://github.com/NRauschmayr/Seattle_Workshop
